<%- include('header'); -%>




<div class="h1div">
  <h2> <%= kindOfDay %> </h2>
</div>

<div class="container-fluid text">
  <h1>you give us your time we'll manage it.</h1>
</div>

<div class="divForToDos" >
  <form action="/" class="inputForm" method="post" style="display: flex; ">
    <input type="text" class="form-control addInput"  name="newItem" placeholder="write some" autocomplete="off">
    <button type="submit" class="btn btn-primary addButton"  name="buttoniya" value=<%= kindOfDay %>>+</button>
    <button type="submit" class="btn btn-primary createButton"  name="createButton" value=>create</button>
	</form>
  
  
  <% newListItem.forEach(function(Item) { %>
    
    <form action="/delete" method="post">
      <label class="d-flex gap-2 form-control singleLabel">
        <input class="form-check-input checkbox" type="checkbox" name="checkbox" value="<%= Item.id %>" onChange= "this.form.submit()" >
        <p class="newListItem"> <%= Item.name %> </p>
      </label>
      <input type="hidden" name="listName" value="<%= kindOfDay %>">
    </form>
    
    <% }); %>
  </div>
  
  
  <div class="upperdiv">
  <div class="divForButtons">
  <button class="btn btn-outline-light footerButtons" value="m" onclick="window.location.href='/';" >Home</button>
  <button class="btn btn-outline-light footerButtons" value="k" onclick="window.location.href='Work';">Work</button>
  <button class="btn btn-outline-light footerButtons" value="c" onclick="window.location.href='study';" >Study</button>
  <h1 class="hopOn">you can always hop on to your fav. pages</h1>
   </div> 
  </div>
  
    
 
   
   





<%- include('footer'); -%>

<!--     
    <div class="listDiv">
      for (var i=0; i<newListItem.length; i++) { %>
     <div class="singleDiv">
        <label class="list-group-item d-flex gap-2 singleLabel">
        <input class="form-check-input flex-shrink-0 checkbox" type="checkbox" value="" >
          <p class="newListItem"> %= newListItem[i].name %> </p>
        </label>
       </div>
      } %>
    </div> -->

